body {
    background-color: #F5F5DC; /* couleur de fond */
    font-family: Arial, sans-serif; /* police */
}

.header {
    text-align: center; /* alignement du texte */
    padding: 20px; /* espace autour */
    background-color: #8B0000; /* couleur de fond */
    color: #FFFF
